<div class="conatiner">
  <div class="row">
    <div class="col-md-12">


      <div id="form-container">

        <div class="page-header text-center">
          <h2>Developer Dashboard</h2>   
        </div>

        <div id="status-buttons" class="text-center">
          
          <a ui-sref-active="active" ui-sref=".active">Active Project</a>

          <a ui-sref-active="active" ui-sref=".finish">Finished Projects</a>

          <a ui-sref-active="active" ui-sref=".settings">Settings</a>

        </div>
        
      </div>

      <div ui-view></div>
      
    </div>  
  </div>
</div>