<div class="container">
  <div>
    <div ng-repeat="finish in user.completed_projects track by $index" class="active-row" >
    
    <div class="row testme">
      <div>
        
        <div class="col-md-5 col-md-offset-3">
          <h5 class="finished-text">{{finish.description.title}}</h5>   
        </div>
        

        <div class="col-md-1">
          <img src="/img/finished.svg" height="35px" width="20px" alt=""> 
        </div>
      </div>
       
    </div>
     

    </div>
  </div> 
  
</div>