
  <!-- jumbotron --> 
  <div class="row top-spacing jumboimg">
    <div class="col-md-6 col-sm-6 col-xs-12 text-center top-header-spacing">
      <div class="header-width">
        <h1 class="top-header-spacing">Build your project with top talent for $500.</h1>    
      </div>      
      <button class="top-btn-spacing main-button" ui-sref="register_client.login_info">Post your Project</button> 
      <h6 style="color:white">* For Clients</h6>

    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 text-center top-header-spacing">
      <div class="header-width">
        <h1 class="top-header-spacing"> Earn & build real projects while at bootcamp.</h1> 
      </div>
      
      <button class="top-btn-spacing main-button" ui-sref="register_camper.login_info">Get a Project</button>
      <h6 style="color:white">* For Developers</h6>
    </div>  
  </div>

  <!-- about us --> 
<!--   <div class="row">
    <div class="col-md-12 text-center section-height-one">
      <h1 class="title-spacing subheading">What is Hire Boo?</h1>
      <div class="header-width">
        <p class="about-us-p">There are hundreds of specialized programs just for producing software developers called bootcamps. Hire Boo is the easiest way to reach these top developer students while in school and before they hit the market.</p>   
      </div> 
    </div>  
  </div> -->

    <!-- built for --> 
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center section-height-two">
      <h1 class="title-spacing heading">Let HireBoo help you </h1>
      <h3 class="sub-title-spacing subheading">Students can build projects on any of the following platforms and are perfect for:</h3>
      <h5 class="subheading services">Services •  Start-up-Ideas • Personal-Sites • Small-Business</h5>  
    </div>
  </div> <!-- row -->

  <div class="row landingpage-icons">
      <div class="col-md-5 col-sm-4 col-xs-12 title-spacing text-center">
        <img src="/img/desktop.svg" width="100px" alt="Desktop">
        <div>
          <h5 class="title built-title">Desktop</h5>
        </div>  
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12 title-spacing text-center">
        <img src="/img/iphone.svg" width="40px"alt="iOs">
        <div>
          <h5 class="title built-title">iOs Applications</h5>
        </div>  
      </div>
      <div class="col-md-5 col-sm-4 col-xs-12 title-spacing text-center">
        <img src="/img/andriod.svg" width="45px" alt="andriod">
        <div>
          <h5 class="title built-title">Android Applications</h5>
        </div>  
      </div>
  </div>


    <!-- how it works --> 
  <div class="row background-blue ">
    <div class="col-md-12 text-center">
      <h1 class="title-spacing heading title-how-it-works">How it Works</h1>
      <h3 class="sub-title-spacing subheading">Get a website or app built in just three simple  steps.</h3> 
    </div>   
  </div> <!-- row -->
      
  <div class="row background-blue">      
    <div class="col-md-4 title-spacing text-center">
      <img src="/img/submit-project.png" height="200px" width="350px" alt="">
      <div class="header-width ">
        <h5 class="text-center title "> I. Sign up</h5>
        <p class="steps-p text-center">Submit a project and let us know what website you want built. </p>
      </div>
    </div>
    <div class="col-md-4 title-spacing text-center">
      <img src="/img/chat.png" height="200px" width="350px" alt="">
      <div class="header-width">
        <h5 class="text-center title">II. Get pared with a developer</h5>
        <p class="steps-p text-center">Discuss project details and agree on specifications.</p>   
      </div>
    </div>
    <div class="col-md-4 title-spacing text-center">
      <img src="/img/payment.png" height="200px" width="350px" alt="">
      <div class="header-width">
        <h5 class="text-center title">III. Pay</h5>
        <p class="steps-p text-center">We will securely hold the funds until you're completely satisfied.</p>     
      </div>
    </div> 
    
    <h4 class="text-center subheading title-hudred-prosent">100% satisfaction guaranteed</h4>
  </div>          

    <!-- meet campers --> 
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="title-spacing heading">Our Developers</h1>
      <h3 class="sub-title-spacing subheading"> You will only be working  with the best and brightest.</h3> 
    </div>
    <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 text-center topspacing-meet-campers">
      <img class="img-circle"  src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1911760_2186262412134_6431065023450622738_n.jpg?oh=e4f954ea9ea361baa496b2128d7cf7f3&oe=55EC4CC1" alt="" width="100" height="100">
      
      <div class="meet-width">
        <h5 class="title">Jordan Jemison</h5>
        <p class="steps-p">"I really enjoy working with clients while learning. Working on a real project really helped me learn."</p>    
        <h6 class="bootcamp-name">DevMountain</h6>
      </div>      
    </div> 
    <div class="col-md-4 col-sm-5 text-center topspacing-meet-campers">
      <img class="img-circle" src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/p843x403/10357649_10152196629246304_5021667764598400306_o.jpg" alt="" width="100" height="100">
      <div class="meet-width">
        <h5 class="title">Dag Von Krogh Bunkholt</h5>
        <p class="steps-p">"My client and I got along so well, that I now have done multiple projects for them."</p>
        <h6 class="bootcamp-name">DevMountain</h6>
      </div>      
   </div>
  </div> <!-- row -->

  <div class="row">  
    <div class="col-md-12 text-center">
      <h4 class="subheading subheading-meet-campers">Top bootcamps our developers attend</h4> 
    </div>
    <div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 text-center imgspacing-meet-campers bootcamp-name-filter">
      <img src="https://pbs.twimg.com/profile_images/533308426135162880/EyDk_2_k_400x400.png" alt="" height="100px" width="100px">
      <h6 class="bootcamp-name">DevMountain</h6>
    </div>
    <div class="col-md-2 col-sm-2 text-center imgspacing-meet-campers bootcamp-name-filter">
      <img src="https://jlau-bucket-1.s3.amazonaws.com/uploads/topic/image/14/hack_reactor.png" alt="" height="100px" width="100px">
      <h6 class="bootcamp-name">Hack Reactor</h6>
    </div>
    <div class="col-md-2 col-sm-2 text-center imgspacing-meet-campers bootcamp-name-filter">
      <img src="https://pbs.twimg.com/profile_images/520237476615438337/ZUJIhUXM.png" alt="" height="100px" width="100px">
      <h6 class="bootcamp-name">General Assembly</h6>
    </div>
    <div class="col-md-2 col-sm-2 text-center imgspacing-meet-campers bootcamp-name-filter">
      <img src="http://qph.is.quoracdn.net/main-thumb-t-217653-200-QwtvlKBlx1CtwgJg0qmmPJxMZZ4CEHuH.jpeg" alt="" height="100px" width="100px">
      <h6 class="bootcamp-name">Dev Bootcamp</h6>
    </div>
  </div>
  <div class="row">  
    <div class="col-md-12 text-center buttonspacing-meet-campers">
      <button class="button-meet-campers" ui-sref="register_client.login_info">Post a project</button>      
    </div>   
  </div>





