<div class="col-sm-8 col-sm-offset-2" ng-show="!varified">
		
	
	<form ng-submit="send_varification()" ng-show="!sent_email">
		
		<div class="text-center page-header">	
			<h1 ng-show="!error">Reset Password</h1>
		</div>
		
		<div class="text-center">
			<p ng-show="error"> Please try again: </p>		
		</div>
		
		
		<div class="form-group col-md-4 col-md-offset-4">
			<div class="text-center" ng-show="error">
				<strong class="text-danger">{{error}}</strong>
				<p> please try again: </p>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" ng-model="user.email" placeholder="Email address">
			</div>

			<div class="form-group">
				<button class="btn btn-block btn-info" type="submit"> Reset Password </button>
			</div>

		</div>

	</form>

	<form ng-submit="varify()" ng-show="sent_email">
	
		<div class="text-center page-header">
			<h5>We sent you an email to <strong>{{user.email}}</strong> with a verification code. Please enter below:<a ng-click="send_varification()"> resend?</a></h5>		

		</div>
		
		
		<div class="form-group col-md-4 col-md-offset-4">
			<div class="form-group">
					<input type="text" placeholder="Verification code" ng-model="varify.codeEntered" class="form-control">
			</div>

			<div class="text-center">
				<button class="btn btn-block btn-info" type="submit"> Enter </button>
			</div>
		</div>	

	</form>
</div>


<div class="col-sm-8 col-sm-offset-2" ng-show="varified">
	<form ng-submit="reset_password()">

		<div class="text-center page-header">	
			<h1>Set New Password</h1>
		</div>

		<div class="form-group col-md-4 col-md-offset-4">		
			<div class="form-group">
					<input type="password" ng-model="user.password" class="form-control" placeholder="Enter New Password">
			</div>
			<div class="form-group">
					<input type="password" ng-model="user.password_confirm" class="form-control" placeholder="Re-Enter New Password">
			</div>

			<div class="text-center">
				<button class="btn btn-block btn-info" type"submit"> Set New Password </button>
			</div>
		</div>	

	</form>
</div>